[access]
	inheritFrom = tf-agents-team
[submit]
	action = inherit
[label "KokoroUbuntuPy2"]
	value = -1 Failed
	value = 0 No score
	value = +1 Passed
	function = MaxWithBlock
	defaultValue = 0
[label "KokoroUbuntuPy36"]
	value = -1 Failed
	value = 0 No score
	value = +1 Passed
	function = MaxWithBlock
	defaultValue = 0
[label "KokoroUbuntuPy2TF2"]
	value = -1 Failed
	value = 0 No score
	value = +1 Passed
	function = MaxWithBlock
	defaultValue = 0
[label "KokoroUbuntuPy36TF2"]
	value = -1 Failed
	value = 0 No score
	value = +1 Passed
	function = MaxWithBlock
	defaultValue = 0
[access "refs/*"]
	owner = group google/tf-agents-team@google.com
	forgeAuthor = group mdb/copybara-git-writers
	push = group mdb/copybara-git-writers
	read = group mdb/kokoro
	read = group mdb/kokoro-dedicated
	label-KokoroUbuntuPy2 = -1..+1 group google/tf-agents-team@google.com
	label-KokoroUbuntuPy2 = -1..+1 group mdb/kokoro
	label-KokoroUbuntuPy2 = -1..+1 group mdb/kokoro-dedicated
	label-KokoroUbuntuPy36 = -1..+1 group google/tf-agents-team@google.com
	label-KokoroUbuntuPy36 = -1..+1 group mdb/kokoro
	label-KokoroUbuntuPy36 = -1..+1 group mdb/kokoro-dedicated
	label-KokoroUbuntuPy2TF2 = -1..+1 group google/tf-agents-team@google.com
	label-KokoroUbuntuPy2TF2 = -1..+1 group mdb/kokoro
	label-KokoroUbuntuPy2TF2 = -1..+1 group mdb/kokoro-dedicated
	label-KokoroUbuntuPy36TF2 = -1..+1 group google/tf-agents-team@google.com
	label-KokoroUbuntuPy36TF2 = -1..+1 group mdb/kokoro
	label-KokoroUbuntuPy36TF2 = -1..+1 group mdb/kokoro-dedicated
	forgeCommitter = group mdb/copybara-git-writers
[access "refs/for/*"]
	forgeCommitter = group mdb/copybara-git-writers
