[access]
	inheritFrom = tf-agents-team
[submit]
	action = inherit
[label "KokoroUbuntuPy2"]
	value = -1 Failed
	value = 0 No score
	value = +1 Passed
[label "KokoroUbuntuPy35"]
	value = -1 Failed
	value = 0 No score
	value = +1 Passed
[access "refs/*"]
	owner = group google/tf-agents-team@google.com
	forgeAuthor = group mdb/copybara-git-writers
	push = group mdb/copybara-git-writers
	read = group mdb/kokoro
	read = group mdb/kokoro-dedicated
